.bm-menu-wrap {
  position: fixed;
  top: -17px;
  right: -33px !important;
  z-index: 1100;
  width: 456px;
  height: 100vh !important;
  transition: all 0.5s ease 0s;
  
}

.bm-item {
  position: absolute;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  width: 32px;
  height: 32px;
}

.bm-burger-bars {
  background: #d90a17;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  position: relative;
  background: #d90a17;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  border-left: 6px solid #565656;
}

.bm-morph-shape {
  fill: #d90a17;
}

.bm-item-list {
  color: #b8b7ad;
  position: relative;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-burger-button > svg {
  width: 32px;
  height: 32px;
}

.bm-burger-button:hover {
  transform: scale(1.1);
}

.bm-cross-button {
  display: none;
}

.sidebar-title {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

.sidebar-subtitle {
  text-align: center;
  font-size: 16px;
}

.sidebar-calculate {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  margin-top: 16px;
}

.sidebar-input {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.sidebar-input > input {
  width: 28px;
  height: 40px;
  border: none;
  margin-left: 11px;
  font-size: 34px;
  color: #fff;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #fff;
}

.sidebar-input > input::placeholder {
  color: #fff;
}

.sidebar-button {
  text-align: center;
}

.sidebar-button > button {
  width: 128px;
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  background-color: #008596;
  border: 3px solid #008596;
  color: #fff;
  transition: all 0.1s ease-in;
}

.sidebar-button > .sidebar-button-active:hover {
  transform: scale(1.1);
  background-color: #008596;
  border: 3px solid #008596;
}

.sidebar-button > .sidebar-button-disable[disabled] {
  background-color: #ccc;
  border-color: #ccc;
  color: rgba(0, 0, 0, 0.24);
}

.sidebar-button,
.sidebar-button-disable:hover:disabled,
.sidebar-button-disable:hover[disabled] {
  cursor: no-drop;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
