.video-duration {
  position: absolute;
  bottom: 85px;
  right: 5px;
  border-radius: 2px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.87) !important;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px;
}

.video-link {
  color: unset;
  text-decoration: none;
}

.video-link:hover {
  color: unset;
  text-decoration: none;
}

.message-group {
  height: 32px;
  display: flex;
  gap: 10px;
  padding: 4px 24px;
}

.message-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.message-user-name {
  font-size: 15px;
  font-weight: 500;
  color: #11111199;
  margin-right: 10px;
}

.message-content {
  font-size: 15px;
  word-wrap: break-word;
  word-break: break-word;
}

.video-chat-input-wrap {
  display: flex;
  padding: 4px 24px;
  gap: 10px;
}

.video-chat-input {
  flex: 1;
}

.video-chat-input > .video-chat-input-effect {
  width: 100%;
  float: left;
  position: relative;
}

.video-chat-input > input {
  font: 15px/24px "Muli", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.video-chat-input-effect > .effect-2 {
  padding: 0;
  font-size: 15px;
}

.effect-2 {
  width: 100%;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-2 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #008596;
  transition: 0.4s;
}

.error-input ~ .focus-border {
  background-color: transparent !important;
}

.effect-2:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.video-chat-btn-wrap {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  padding: 2px 24px;
  color: #008596;
}

.video-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
}

.video-row {
  margin-top: 0;
}

.video-error {
  width: 100%;
}

.video-not-found {
  background-image: url(https\:\/\/www\.gstatic\.com\/ytkids\/web\/errors\/error_failnana_1\.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 384px;
  margin: 40px auto;
  max-width: 736px;
  width: 100%;
}

.video-add-content {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  font-size: 25px;
  color: #fff;
}

.video-add-content > svg {
  background-color: #000;
  border-radius: 50%;
}

.video-saved-content {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 20px;
}

.badge.bg-success {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.video-saved-badge > svg {
  font-size: 18px;
  margin-right: 5px;
}
