/* ===========Modal choose profile picture =================== */
#contained-modal-title-vcenter {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-picture-wrapper {
  border-radius: 50%;
  border: none;
  position: relative;
}

.profile-picture-wrapper:hover {
  cursor: pointer;
}

.profile-picture-img {
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture-overplay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.54);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.profile-picture-check {
  width: 35px;
  height: 35px;
}

.modal-dialog-centered {
  height: 100%;
}

.pad-10 {
  padding: 0 10px;
}

.modal-delete {
  transform: translateY(38%);
}

.option-activity-wrapper {
  width: 100%;
  min-height: 600px;
  user-select: none;
}

.option-activity-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-activity-left {
  width: 100%;
  height: 100%;
}

.option-activity-detail-profile-btn.disable div {
  user-select: none;
  background-color: #2bb364;
  cursor: auto;
}



.option-activity-detail-profile-btn div {
  background-color: #fff;
  padding: 5px 15px;
  border: 2px solid #138d75;
  color: #138d75;
  transition: 0.2s;
  cursor: pointer;
  width: 200px;
  margin: 15px auto;
  text-align: center;
}

.option-activity-detail-profile-btn div:hover {
  background-color: #58d68d;
  border: 2px solid #58d68d;
  color: aliceblue;
}

.option-activity-detail-profile-btn div:active {
  background-color: #138d75;
  border: 2px solid aliceblue;
}

.option-activity-detail-profile-btn.disable div:hover {
  user-select: none;
  background-color: #2bb364;
  border: 2px solid #138d75;
  color: #138d75;
  cursor: auto;
}

.option-activity-left-top {
  width: 100%;
  height: 80%;
  background: #fff;
  border-top-left-radius: 10px;
}

.option-activity-title {
  display: flex;
  align-items: center;
}

.option-activity-title-img {
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50%;
}

.option-activity-title-img img {
  width: 100%;
  object-fit: scale-down;
  border-radius: 50%;
}

.option-activity-title-name {
  margin-left: 10px;
  width: 390px;
}

.option-activity-title-name div:first-child {
  font-size: 18px;
  font-weight: 600;
}

.option-activity-title-name div:last-child {
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  white-space: normal;
}

.option-activity-detail {
  padding: 10px 5px;
  margin-right: 10px;
  height: 80%;
}

.option-activity-detail-profile {
  padding: 40px 20px;
  background-color: #fdedec;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  margin: 10px auto;
  border-radius: 8px;
}

.option-activity-detail-profile div:last-child {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

.option-activity-detail-profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.option-activity-detail-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.option-activity-left-bottom {
  width: 100%;
  height: 20%;
  padding-right: 15px;
}

.option-activity-left-bottom input[type="text"] {
  height: 50px;
  padding: 2px 5px;
  margin: 5px 0;
  border: 1px solid #fff;
  background-color: #fff;
  border-bottom: 1px solid #cacfd2;
  width: 100%;
  transition: 0.2s;
}

.option-activity-left-bottom input[type="text"]:focus {
  outline: none;
  border: 1px solid aliceblue;
  background-color: aliceblue;
  border-bottom: 1px solid #34495e;
}

.option-activity-left-bottom input[type="button"] {
  background-color: #fff;
  padding: 5px 15px;
  border: 2px solid #138d75;
  color: #138d75;
  transition: 0.2s;
  cursor: pointer;
}

.option-activity-left-bottom input[type="button"]:hover {
  background-color: #58d68d;
  border: 2px solid #58d68d;
  color: aliceblue;
}

.option-activity-left-bottom input[type="button"]:active {
  background-color: #138d75;
  border: 2px solid aliceblue;
}

/* override */

.modal.show .modal-dialog {
  transform: none;
  margin: 0 auto;
}
