.background-admin {
  background-color: #00a7b6;
  height: calc(100vh);
  width: 100%;
}
.background-layer {
  /* background-image: url(https://www.gstatic.com/ytkids/web/settings/settings_bg_blue_left@1x_2.png); */
  background-image: url(../../../public/image/admin-wave.png);
  /* object-fit: cover; */
  background-position: bottom left;
  background-repeat: no-repeat, repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container-admin {
  /* height: 100%; */
}

.header-admin {
  color: #fff;
  font-size: 34px;
  text-align: center;
  margin-top: -10px;
  padding: 10px;
}

.avatar-resize-setting-parent {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-divider {
  background-color: #d90a17;
  border-radius: 50%;
  display: inline-block;
  height: 36px;
  width: 36px;
}

.text-size-plus {
  font-size: 35px;
}

.font-size-accordion {
  font-size: 13px;
  margin-top: 3px;
}
.color-button-submit {
  background-color: #008596;
  border: 3px solid #008596;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 38px;
  min-width: 128px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.admin-children-item {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.text-color-edit {
    color: #008596;
}