.profile-setting-wrap {
  height: 100%;
  z-index: 20;
}

.mg-bot-90 {
  margin-bottom: 90px;
}

.profile-settings-card {
  border: none;
}

.profile-settings-container {
  /* height: calc(100% - 128px) !important; */
  background-color: #d90a17;
  height: 100%;
}

.bg-profile-setting {
  background-color: #d90a17;
  height: 869px;
  overflow: hidden;
}

.profile-settings-container > .row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-settings-container > .row > .col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-card-first {
  height: 206px;
  position: relative;
  padding: 32px 24px 20px;
}

.settings-card {
  height: 180px;
}

.profile-setting-img {
  position: relative;
  cursor: pointer;
}

.profile-setting-img {
  width: 160px;
  height: 160px;
  position: absolute;
  top: -82px;
  left: 37%;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
}

.profile-setting-img > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-setting-img-edit {
  background-color: rgba(0, 0, 0, 0.54);
  bottom: 0;
  left: 0;
  height: 48px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.profile-setting-img-edit > svg {
  color: #fff;
  width: 26px;
  height: 27px;
  margin-top: 15px;
}

.profile-settings-card > .card-body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 32px 24px;
}

.profile-setting-input-wrap {
  width: 312px;
  float: left;
  position: relative;
}

.profile-setting-input-wrap > input {
  font: 15px/24px "Muli", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.profile-setting-input-wrap > .effect-2 {
  padding: 0;
  font-size: 16px;
}

.profile-setting-btn-save {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-setting-btn-save > button {
  width: 147px;
  color: #fff;
}

.profile-settings-card-left {
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
}

.profile-settings-card-left > svg {
  width: 40px;
  height: 40px;
  color: rgba(0, 0, 0, 0.54);
}

.profile-settings-card-right {
  height: 100%;
}

.settings-card-right-text > div:first-child {
  font-size: 20px;
  font-weight: 600;
}

.settings-card-right-text > div:last-child {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 16px;
}

.settings-card-right-btn > button {
  width: 128px;
  height: 48px;
  font-size: 18px;
  color: #fff;
}
