.home-container {
  min-height: calc(100vh - 128px - 154px);
}

.video-title {
  margin: 0;
  width: 244px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}

.video-body {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-body > .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-btn-dropdown {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-btn-dropdown > svg {
  color: black;
  width: 24px;
  height: 24px;
  margin-left: 1px;
}

.video-btn-dropdown:hover {
  background: #e6e6e6;
}

.video-btn-dropdown:first-child:active {
  background: #e6e6e6;
}

.dropdown-toggle::after {
  display: none;
}

.video-card {
  position: relative;
  transition: all 0.35s cubic-bezier(0, 0.15, 0, 1);
  border: none !important;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 24%) !important;
  border-radius: 4px !important;
}

.video-card:hover {
  cursor: pointer;
  transform: scale(1.08);
  z-index: 999;
}

.video-card > .card-img-top {
  border-radius: 4px !important;
}

.video-skeleton-card {
  border: none !important;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 24%) !important;
  border-radius: 4px !important;
  cursor: pointer;
}

.dropdown-menu.show {
  z-index: 99999;
}

.home-background-left {
  background-image: url("https\:\/\/www\.gstatic\.com\/ytkids\/web\/categories\/shows_bg_left_2\.png");
  background-position: top right;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 105px;
  background-repeat: no-repeat;
  background-size: auto 500px;
  height: 500px;
}

.home-background-right {
  background-image: url("https\:\/\/www\.gstatic\.com\/ytkids\/web\/categories\/shows_bg_right_2\.png");
  background-position: top left;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 105px;
  background-repeat: no-repeat;
  background-size: auto 500px;
  height: 500px;
}
