.header {
  padding: 40px 16px 0;
  height: 244px;
  background-color: #fff;
  width: 100%;
}

.header-wrap {
  width: 100%;
  height: 95px;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

.header-detail-wrap {
  height: 127px;
  width: 100%;
  padding: 32px 16px 0;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 24%);
  border-bottom: 1px solid #eee;
  position: fixed;
  z-index: 999999;
  background: #fff;
}

.header-center-hidden {
  display: none;
}

.header-left {
  display: flex;
  height: 100%;
  margin-left: 32px;
}

.header-left > img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  transition: all 0.1s ease-in;
}

.header-left > img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header-center {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.header-center-search-wrap {
  max-width: 756px;
  min-width: 434px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 999999;
}

.header-center-search {
  display: flex;
  align-items: center;
  height: 64px;
  border-radius: 32px;
  background-color: #f4f4f4;
  transition: all 0.1s ease-in;
  z-index: 99999999;
}

.header-center-search.active {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 8px 13px 0 rgb(0 0 0 / 24%);
}

.header-center-search:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 8px 13px 0 rgb(0 0 0 / 24%);
}

.header-center-search > input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  margin-left: 32px;
  font-size: 20px;
  font-family: Arial;
  color: rgba(0, 0, 0, 0.87);
  background-color: inherit;
}

.header-center-search > button {
  width: 79px;
  height: 100%;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  outline: none;
  border: none;
  background: #2e5fd8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-center-search > button > svg {
  width: 29.6px !important;
  height: 29.4px !important;
}

.header-center-category {
  position: absolute;
  top: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 724px;
  height: 126px;
}

.header-center-category-fix {
  position: absolute;
  /* top: -30px; */
  top: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 724px;
  height: 126px;
}

.header-center-category-item {
  width: 104px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: unset;
  text-decoration: unset;
}

.header-center-category-item:hover > .category-item-icon {
  transform: scale(1.1);
  cursor: pointer;
}

.header-center-category-item > span {
  color: #d90a17;
  font-size: 24px;
  opacity: 0.87;
  line-height: 28px;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  height: 28px;
}

.header-center-category-item > .category-item-icon {
  width: 104px !important;
  height: 104px !important;
  transition: all 0.1s ease-in;
}

.header-right {
  display: flex;
  height: 100%;
  margin-right: 32px;
}

.header-right-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 20px;
  transition: all 0.1s ease-in;
}

/* .header-right-icon:hover {
    transform: scale(1.1);
} */

/* =============Header details================ */
.header-detail {
  height: 128px;
  /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 24%);
  border-bottom: 1px solid #eee; */
  margin-bottom: 20px;
}

.header-center-category-video-detail {
  position: absolute;
  top: -42px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 724px;
  height: 126px;
}

.w-210 {
  width: 210px;
}

.header-center-category-wrapper {
  display: flex;
  position: absolute;
  top: -50px;
  width: 100%;
  justify-content: center;
}

.header-left-icon {
  margin: 17px 24px 0 0;
}

.header-left-icon-wrap > svg {
  width: 32px !important;
  height: 32px !important;
  transition: all 0.1s ease-in;
}

.header-left-icon-wrap {
  height: 48px;
  width: 48px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.header-left-icon-wrap > svg:hover {
  transform: scale(1.1);
}

.header-right-lock-icon-wrap {
  height: 100%;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-16%);
  position: relative;
}

.header-right-search-icon-wrap {
  height: 100%;
  width: 70px;
}

.header-right-search-icon {
  width: 64px;
  height: 64px;
  background: #cc0000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.header-right-search-icon:hover {
  transform: scale(1.1);
}

.header-right-search-icon > svg {
  width: 32px !important;
  height: 32px !important;
}
