.admin-wrapper {
  background-color: #00a7b6;
  position: relative;
}

.background-admin {
  height: calc(100vh - 128px);
  width: 100%;
}

.background-layer-right {
  background-repeat: no-repeat;
  background-size: auto 684px;
  height: calc(100% - 128px);
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url(https://www.gstatic.com/ytkids/web/settings/settings_bg_blue_right@1x_2.png);
  background-position: bottom right;
  z-index: 1;
}

.background-layer-left {
  background-repeat: no-repeat;
  background-size: auto 684px;
  height: calc(100% - 128px);
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url(https://www.gstatic.com/ytkids/web/settings/settings_bg_blue_left@1x_2.png);
  background-position: bottom left;
  z-index: 1;
}

.container-admin {
  position: relative;
  z-index: 10;
}

.header-admin {
  color: #fff;
  font-size: 34px;
  text-align: center;
  margin-top: 40px;
  padding: 10px;
}

.avatar-resize {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-divider {
  background-color: #d90a17;
  border-radius: 50%;
  display: inline-block;
  height: 36px;
  width: 36px;
}

.text-size-plus {
  font-size: 35px;
}

.font-size-accordion {
  font-size: 13px;
  margin-top: 3px;
}
.color-button-submit {
  background-color: #008596;
  border: 3px solid #008596;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 38px;
  min-width: 128px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.admin-children-item {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.admin-account-wrapper > .card-title {
  margin-bottom: 0;
  font-size: 14px;
}

.admin-account-wrapper > p {
  font-size: 12px;
}

.admin-btn-logout {
  border: none !important;
  background: transparent !important;
  color: #008596 !important;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.1s ease-in;
}

.admin-btn-logout:hover {
  color: #008596 !important;
  border: none !important;
  background: transparent !important;
  transform: scale(1.1);
}
